# ---------------------------------
# OpenFOAM Git Ignore Template
# ---------------------------------

*/[1-9]*/
*/[0-9]*.[0-9]*/

postProcessing/
processor*/

log.*
*.log

*.OpenFOAM
*.foam
*.obj
*.vtk
*.vtu
*.csv
*.stl
*.eMesh
*:Zone.Identifier

*/constant/polyMesh/
*/constant/extendedFeatureEdgeMesh/
*/constant/triSurface/

*/constant/turbulenceProperties

ParaView* 
*.pyc
__pycache__/

.DS_Store
Thumbs.db

*~
\#*\#
*\#